<app-header></app-header>

<div class="container">
  <app-item-card
    (mouseenter)="addShadow($event)"
    (mouseout)="removeShadow($event)"
    [displayName]="'jablko'"
    [description]="'ale fajne'"
  ></app-item-card>

  <app-item-card
    (mouseenter)="addShadow($event)"
    (mouseout)="removeShadow($event)"
    [displayName]="'gruszka'"
  ></app-item-card>
  <app-item-card
    (mouseenter)="addShadow($event)"
    (mouseout)="removeShadow($event)"
    [displayName]="'sliwka'"
  ></app-item-card>
</div>
